$blue: #0074d9;
$green: #2ecc40;
$red: #ff4136;
$yellow: #ffdc00;
$light-grey: #ccc;
$dark-grey: #666;
$almost-black: #333;

$font-body: 'Merriweather', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;
